# Python
*.pyc
*~
*.pyo
*.pyd
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.eggs/

# Environments
.venv
env/
venv/
ENV/

# IDEs
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak

# OS
.DS_Store
Thumbs.db

# Other
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.sqlite

# Jupyter
.ipynb_checkpoints

# Env variables
.env